@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Inter:wght@700&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C070F;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.DM{
  font-family: 'DM Mono', monospace;
}

.Inter{
  font-family: 'Inter', sans-serif;
}

.Roboto{
  font-family: 'Roboto', sans-serif;

}